.blog-post-toc {
  position: fixed;
  top: 75px;
  right: 40px;
  width: 340px;
  max-height: calc(100vh - 100px);
  z-index: 1;
  pointer-events: none;
  
  @media (max-width: 1400px) {
    display: none;
  }
  
  // TOC 내부 요소들만 클릭 가능하도록
  * {
    pointer-events: auto;
  }
}
