@use '../../styles/variables'as *;
@use '../../styles/mixins'as *;

.project-section {
  flex-direction: column;
  width: 100%;

  .project {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;

    .head {
      margin-bottom: 10px;
      line-height: 30px;
      font-weight: 700;
    }

    .body {
      flex-direction: column;
      width: 100%;

      .thumbnail {
        width: 100%;
        margin-bottom: 10px;
      }

      .tech-stack {
        margin-bottom: 10px;

        .tech {
          background-color: var(--chip-background-color);
          font-weight: 500;
          margin-right: 5px;
          padding: 5px 7px 5px 7px;
        }
      }

      .description {
        font-weight: 400;
        line-height: 1.4;
      }


      @include md {
        flex-direction: column;

        .content {
          margin-top: 0px;
        }
      }
    }
  }
}